html,body,.page,.content, .content .main {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
body {
	overflow: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.page {
    position:relative;
}
.navbar {
    height:40px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.navbar-inner {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}
.navbar .navbar-inner .container {
    min-width: 895px; 
}
.nav li i {
    vertical-align:middle;
    opacity:0.4;
}
.nav li:hover i {
    opacity:1;
}
.brand {
    width:168px;
}
.brand small {
    font-size:10px;
    color:#666;
}
.content .sidebar {
    height:100%;
    width:220px;
    background-color:whiteSmoke;
    float:left;
    padding: 0;
    margin: 0;
}
.content .sidebar .sidebar-inner {
    padding:42px 2px 0 2px;
}
.content .main .main-inner {
    padding:42px 2px 0 222px;
}
.accordion-inner {
    background-color: white;
}
.accordion-heading a {
    color: #222;
    font-size: 1.2em;
    font-weight: 700;
}
.accordion-heading a:hover {
    text-decoration: none;
}

/* splitter */

.splitter {
 background-color: #666;
 cursor: pointer;  
}
.splitter.vertical {
 width: 12px;
 height: 100%;    
}
.splitter.horizontal {
 width: 100%;
 height: 12px;
}
.pane, .splitter {
 margin: 0;
 padding: 0;
 float: left;
}
.left.pane, .right.pane {
 height: 100%;    
}
.top.pane, .bottom.pane {
 width: 100%;    
}
.left .top { background-color: #aaa; }
.left .bottom { background-color: #b5b5b5; }
.right .top { background-color: #afafaf; }
.right .bottom { background-color: #959595; }
